@use '../../../src/styles/variables' as *;

.song-navigation {
    display: flex;
    flex-direction: column;
    gap: 48px;

    div {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    a {
        font-weight: 500;

        &:hover {
            color: $accent;
        }
    }

    .active {
        color: $accent;
    }
}