@use 'variables' as *;

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  transition: all 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-base;
  font-size: 16px;
  color: $secondary;

  min-height: 100vh;

  transition: color 0.5s, background-color 0.5s;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul, ol {
  li:not(:last-child) {
    margin-bottom: 0.7rem;
  }
}