@use '../../../src/styles/variables' as *;

.view-homepage {
    .homepage-sidebar {
        &__tag-category {
            padding: 1rem 0;
        }

        &__tag-category-tags {
            padding-top: 0.5rem;
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
        }
    }
}